{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h3 class="heading-text mt-3 text-center">Market Place</h3>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
           {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <button class="btn btn-info btn-outline">More Info</button>
                    <button class="btn btn-success btn-outline">Buy</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{%  endblock %}